.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 146px;
  width: 302px;
}

input {
  width: 300px;
  height: 20px;
  border: 1px solid blueviolet;
}

button {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: cornflowerblue;
}